main {
    margin-top: 70px;
    margin-bottom: 20px;
}

.navbar {
    background-color: #000;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;
    text-decoration: none;
}

button.-margin {
    margin: 15px 3px 5px;
}

header {
    color: #e2e2ee;
}

header p {
    margin: 0;
}